    body, html { height: 100%; width: 100%; }

    body { background: url(../images/lab-logo.jpg) no-repeat 200px 100px; }

    .page-header h1 { margin: 0 10px; }

    #bl-sidebar { height: 100%; width: 330px; padding-left: 10px; z-index: 2; position: relative; }

      #paste-url { width: 100%; height: 100%; border: none; background: #f6f6f6; height: 100px; padding: 10px; resize: none; }
        #paste-url.error { color: red; }

      .bl-sidebar-bl { border: 1px solid #ccc; margin: 10px 0; background: rgba(255,255,255,0.7); }
        .bl-sidebar-bl h2 { display: block; border-bottom: 1px solid #ccc; font-size: 1.2em; padding: 5px 10px; background: #75A5A0;
          color: white; margin-top: 0; margin-bottom: 0; }         
      #bl-sidebar-list, #bl-sidebar-list-stream { height: 200px; overflow: auto; }
      .bl-list-elm-act .tit { background: #eee; color: black; }
      .bl-list-elm { border-bottom: 1px solid #ccc; }
        .bl-list-elm .tit { padding: 10px; color: #666; font-weight: 800; display: inline-block; }
        .bl-list-elm a { background: #75A5A0; color: white; display: block; padding: 4px; margin: 7px 5px 0 0; float: right; }
          .bl-sidebar-bl-act h2, .bl-list-elm a.act { background: #75A559; }
          .bl-list-elm .tit .small { display: none; text-decoration: none; }
            .bl-list-elm .tit:hover .small { display: block; }
      .bl-sidebar-bl .bottom { background: #75A5A0; }
        .bl-sidebar-bl .bottom a { color: white; line-height: 1.4em; padding: 5px; display: inline-block; float: left; }
        .bl-sidebar-bl select { padding: 2px; display: block; margin: 3px; text-align: right; float: right; width: 200px; }

    #bl-data { position: absolute; right: 0; padding-left: 370px; margin-right: 20px; width: 100%; z-index: 0; }
      .twt-list, .config { border: 1px solid #ccc; margin: 0 0 20px 0; background: rgba(255,255,255,0.7); }
        .twt-list h2, .config h2 { display: block; border-bottom: 1px solid #ccc; font-size: 1.2em; padding: 10px; background: #75A5A0; color: white; 
            margin-top: 0; margin-bottom: 0; }
          .config h2 a.muestra { float: right; color: #fff}  
          .twt-wrap, .config-wrap, .monitor-wrap  { padding: 10px; }
            .twt-elm, .config-elm { width: 250px; height: auto; float: left; overflow: hidden; position: relative;
                border: 1px solid #ccc; margin: 5px; height: 250px; z-index: 1; }
              .twt-elm .limpia-tweet, .config-elm .limpia-tag { display: none; }
            .config-elm-disable { display: none; }
              .twt-elm .wipeout { display: none; }
              .twt-wipe .wipeout, .twt-elm-disable .limpia-tweet { display: inline-block; }
              .twt-wipe .muestra-grande, .twt-wipe .muestra-chico, .twt-wipe .muestra-texto, .twt-wipe .limpia-tweet,
              .twt-elm-disable .muestra-grande, .twt-elm-disable .muestra-chico, .twt-elm-disable .muestra-texto  { display: none; }
            .twt-elm-img { color: white; }
              .twt-elm-img h3 { text-shadow: 0 0 3px #666; bottom: 100%; width: 100%; height: 84%; position: absolute; overflow: hidden;
                    background: rgba(0,0,0,0.5); color: white; display: block; }
                .twt-elm-img:hover h3 { bottom: 0; }
              .twt-elm-img .links { position: absolute; right: 10px; bottom: 10px; }
              .twt-elm-img a { color: rgb(255, 223, 58); font-weight: 800; }
              .twt-elm .tag { font-size: 1.1em; margin: 0; width: 100%; background: #75A5A0; color: white; padding: 5px; }
                .twt-elm .tag span { float: left; display: block; padding: 5px; height: 30px; overflow: hidden; width: 140px; }
                .twt-elm .tag a { color: white; float: right; }
                .twt-elm .tag a:hover { text-shadow: 2px 2px #333; }
              .twt-elm h3 { font-size: 1.2em; margin: 0; padding: 5px; }
              .twt-elm img { display: block; width: 100%; height: auto; position: absolute; left: 0; z-index: -1; top: 41px; }
              .twt-elm a { display: inline-block; padding: 5px; }
            .twt-elm-disable .tag { background: #75A559; }

  .monitor-wrap { height: 200px; }

  
  .config-wrap button, .monitor-wrap button { background-color:#75A5A0; text-indent:0; border:1px solid #eeb44f; color:#ffffff; font-size:15px; font-weight:bold; font-style:normal; height:65px; line-height:65px; width:131px; text-decoration:none; text-align:center; text-shadow:1px 1px 0px #cc9f52; float: right; margin: 5px; }
  .mensaje { display: inline-block; width: 100%; padding: 20px; font-weight: bold; color: green; text-align: center; font-size: 1.4em; }
  .mensaje.error { color: red; }
  .messages { resize: none; border: 0; }
  .fa-circle-o:before { float: right; }
  .pointer { cursor:pointer; }


  /* FORMULARIO */

  .search-input input.search { padding: 5px; margin: 5px; width: 80%; float: left; }
  .search-input .count { padding: 5px 5px 5px 0; margin: 5px 0; width: 30px; float: left; }
  .search-input input.check { padding: 5px; margin: 5px; width: 22px; float: left; clear: left; height: 30px; }

  .input[type=checkbox] {
    visibility: hidden;
  }

  .checkbox label:before {  
    border-radius: 3px;  
  }

  input[type=checkbox]:checked + label:before {  
    content: "\2713";  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 15px;  
    color: green;  
    text-align: center;  
    line-height: 15px;  
  }      

  .fa-stop {
    color: purple;
  }

  .fa-windows {
    color: green;
  }

.fa-plus {
    color: blue;
  }